*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas, sans-serif;
}

.grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
    padding: 1rem;
    gap: 1rem;
}

.card {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 16px;
    border-radius: 4px;
    user-select: none;
}

.header {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.header-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
    margin-right: 1rem;
    flex-shrink: 0;
}

.title {
    font-weight: bold;
    text-transform: capitalize;
    word-wrap: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-grow: 1;
}

[data-body]{
    text-align: justify;
}

.skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
    width: 100%;
    height: .5em;
    margin-bottom: .50em;
    border-radius: 3px;
}

.skeleton-text:last-child {
    width: 80%;
    margin-bottom: 0;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 30%, 95%);
    }
}